# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\jonhe\Documents\GitKraken\AMC-2020B\AMC-herrera-flores-jonathan-alexander\Deber01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
